<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
_parameter 表示当前传入的参数，如果查询的时候传入的参数只有一个，则使用 _parameter
_parameter.name 如果查询的时候传入的参数是个对象，那就点属性

-->

<mapper namespace="com.tanyouping.ssm.mapper.BlogMapper">

    <resultMap id="Blog" type="com.tanyouping.ssm.model.Blog">
        <id column="id_" property="id"/>
        <result column="created_" property="created"/>
        <result column="createdMillisecond_" property="createdMillisecond"/>
        <result column="name_" property="name"/>
        <result column="sex_" property="sex"/>
        <result column="mobile_" property="mobile"/>
        <result column="email_" property="email"/>
        <result column="remark_" property="remark"/>
        <result column="status_" property="status"/>
    </resultMap>

    <insert id="saveBlog" parameterType="com.tanyouping.ssm.model.Blog">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO b_blog
        (name_,sex_,mobile_,email_,created_,createdMillisecond_,remark_,status_)
        VALUE
        (#{name},#{sex},#{mobile},#{email},#{created},#{createdMillisecond},#{remark},#{status})

    </insert>

    <select id="selectBlog" parameterType="com.tanyouping.ssm.param.BlogQueryParam" resultMap="Blog">

        SELECT * FROM b_blog
        <where>
            <if test="id != null">AND id_ = #{id}</if>
            <if test="name != null and name != ''">
                AND name_ LIKE concat('%',#{name},'%')
            </if>
            <choose>
                <when test="startCreated != null and endCreated != null">AND created_ BETWEEN #{startCreated} AND #{endCreated}</when>
                <when test="startCreated != null">AND created_ gt #{startCreated}</when>
                <when test="endCreated != null">AND created_ lt #{endCreated}</when>
                <otherwise>AND 1=1</otherwise>
            </choose>
        </where>
    </select>

    <select id="get" parameterType="java.lang.Integer" resultMap="Blog">

        SELECT * FROM b_blog WHERE id_ = #{id}

    </select>


    <delete id="remove" parameterType="java.lang.Integer">

        DELETE FROM b_blog WHERE id_ = #{id}

    </delete>

    <update id="update" parameterType="com.tanyouping.ssm.model.Blog">

        UPDATE b_blog SET name_ = #{name} , sex_ = #{sex} , mobile_ = #{mobile} , email_ = #{email} , remark_ = #{remark} WHERE id_ = #{id}

    </update>

</mapper>